<div id="empform">
<p>
  Employee Add
</p>
<!-- <form>
    <div class="form-group">
        <label for="emp.name">Name :</label>
        <input type="text" class="form-control" id="emp.name" required="required">
      </div>
      <div class="form-group">
          <label for="emp.email">Email :</label>
          <input type="email" class="form-control" id="emp.email" required="required">
        </div>
        <div class="form-group">
            <label for="emp.address">Address :</label>
            <input type="text" class="form-control" id="emp.address" required="required">
          </div>
          <div class="form-group">
              <label for="emp.dateofbirth">Date of Birth :</label>
              <input type="date" class="form-control" id="emp.dateofbirth" required="required">
            </div>
  <div class="form-group">
    <label for="emp.userid">User Id:</label>
    <input type="text" class="form-control" id="emp.userid" required="required">
  </div>
  <div class="form-group">
    <label for="emp.pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" required="required">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
</div>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
    Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
        <label for="emp.name">Name :</label>
        <input type="text" class="form-control" id="emp.name" required="required">
      </div>
      <div class="form-group">
          <label for="emp.email">Email :</label>
          <input type="email" class="form-control" id="emp.email" required="required">
        </div>
        <div class="form-group">
            <label for="emp.address">Address :</label>
            <input type="text" class="form-control" id="emp.address" required="required">
          </div>
          <div class="form-group">
              <label for="emp.dateofbirth">Date of Birth :</label>
              <input type="date" class="form-control" id="emp.dateofbirth" required="required">
            </div>
  <div class="form-group">
    <label for="emp.userid">User Id:</label>
    <input type="text" class="form-control" id="emp.userid" required="required">
  </div>
  <div class="form-group">
    <label for="emp.pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" required="required">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
                
                
                
                
                
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Post Info -->
<div style='position:fixed;bottom:0;left:0; background:lightgray;width:100%;'>
    About this SO Question:
    <a href='http://stackoverflow.com/q/26562900/1366033'>
        Twitter Bootstap - form in Modal fomatting
    </a><br/>
    Fork This Skeleton Here: 
    <a href='http://jsfiddle.net/KyleMit/kcpma/'>
        Bootstrap 3 Skeleton
    </a><br/>
</div>
